/* --------------------------------
Below is used for the k3s.io landing page 
----------------------------------*/

* {
 box-sizing:inherit
}

.bgPrimary {
  background-color:var(--ifm-color-secondary)
}

.bgLight {
  background-color:var(--light)
}

.wrap {
  box-sizing: border-box;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 8rem;
}

/* These need to be wrapped to prevent the markdown docs from 
 pulling in these basic definitions */
.landing {
  font-family: 'roboto', sans-serif;
  font-size:10px;
}

.landing p {
  margin-bottom:2rem;
  font-size:1.4em;
  line-height:1.5rem
}

.landing h1 {
  margin-bottom:3rem;
  font-size:5em;
  line-height:4rem
}
.landing h2 {
  margin-bottom:3rem;
  font-size:3em;
  line-height:4rem;
  text-align:center;
}
.landing h3 {
  margin-bottom:3rem;
  font-size:2.5em;
  line-height:3.5rem
}
.landing h4 {
  margin-bottom:1rem;
  font-size:2em;
  line-height:2rem
}
.landing h5 {
  margin-bottom:2rem;
  font-size:1.75em;
  line-height:2.75rem
}
.landing h6 {
  margin-bottom:2rem;
  font-size:1.4em;
  line-height:2.25rem
}

.cncf .cncfLogo {
  display: block;
  width: 300px;
  margin: auto;
  padding-bottom: 2rem;
}
.cncf p {
  font-size: 22px;
}

.textCenter {
  text-align: center;
}

.intro {
  display:grid;
  grid-template-columns:repeat(6,1fr);
  padding: 0;
  align-items:end;
  column-gap:2rem;
  position:relative
}
.intro .gridTwo {
  grid-template-columns:60% auto
}
.intro .wrap {
  padding:5rem 0 15rem
}
.intro .folder {
  grid-row:5/span 3;
  grid-column:2/span 4;
  z-index:2
}
.intro .bgPrimary {
  grid-row:2/span 4;
  grid-column:1/span 6;
  color:var(--dark)
}
.intro a {
  text-decoration: underline;
}

.getStarted {
  display:grid;
  grid-template-columns:repeat(6,1fr);
  padding:0;
  position:relative
 }

.getStarted .white {
  background:var(--light);
  grid-row:2/span 4;
  grid-column:2/span 4;
  z-index:2;
  box-shadow:rgba(51,49,59,.5) 0 0 20px;
  padding:5rem
}

.getStarted .bgPrimary {
  grid-row:5/span 3;
  grid-column:1/span 6;
  padding:20rem 0 5rem
}

.folder h4 {
  display:inline-block;
  margin:0;
  padding:10px 20px;
  background-color:var(--ifm-color-primary-dark);
  color:var(--light);
  position:relative
 }

.folder .bgLight {
  background-color:var(--light);
  padding:40px;
  border-top:solid var(--ifm-color-primary-dark) 14px;
  box-shadow:rgba(51,49,59,.5) 0 0 20px
}

.gridTwo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
}

.gridThree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.gridFour {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.gridDynamic {
  display:flex
}

.gridDynamic h5 {
  margin:0;
  flex-grow:1;
  flex-basis:0
}

pre {
  page-break-inside:avoid;
  font-family:monospace;
  font-size:15px;
  line-height:1.6;
  margin-bottom:1.6em;
  max-width:100%;
  overflow:auto;
  padding:1em 1.5em;
  display:block;
  word-wrap:break-word;
  overflow-wrap: break-word;
  border-radius:3px;
  white-space:pre-wrap
}